= link_to 'New', new_transaction_path, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th Date
      %th Amount
      %th Title
      %th From
      %th To
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.created_at
        %td= transaction.amount
        %td= transaction.title
        %td= transaction.charged_account.user.email
        %td= transaction.target_account.user.email
