= simple_form_for @transaction_form, url: transactions_path do |f|
  = f.input :title
  = f.input :amount
  = f.input :receiver_id, collection: f.object.receivers, include_blank: false
  = f.submit 'Do Transaction', class: 'btn btn-primary'
