%ul.nav.navbar-nav
  %li= link_to 'Transactions', transactions_path if policy(:transactions).manage_own?
  %li= link_to 'All transactions', admin_transactions_path if policy(:transactions).preview_all?
